body {
color: aliceblue ;
background-color: #deaded;
margin: 10px;
 font-family: "Tangerine", cursive;
}

header {
border-bottom: solid 2px rgb(68, 95, 118);
padding: 13px;
font-size: 32px;
color: aliceblue;
}

section {
background-color: #deaded;
padding-bottom: 80px ;
padding-top: 80px;
display: flex ;
justify-content: center ;

}

chama-texto {
margin-right: 5%;

}

h1 {
font-size: 30px;

}

p {
font-size: 20px;

}