body {
    color: aliceblue;
    background-color: #1c1530;
    margin: 10px;
    font-family: "Notable", sans-serif;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 13px;
    font-size: 32px;
    color: aliceblue;
}

.chamada {
    background-color: #deaded;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chama-texto {
    margin-right: 5%;

}

h1 {
    font-size: 30px;
    padding-right: 20px;

}

p {
    font-size: 20px;

}

img {
    height: 200px;

}

.playlist {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20 px;
}

.categoria img {
    opacity: 0.5;
    height: 200px;
}

.categoria img:hover {
    opacity: 1.0;
    border: 3px solid rgb(255, 173, 0);
}
