body {
color: #445f76;
background-color: #000000;
margin: 0px;
}

header {
border-bottom: solid 2px rgb(68, 95, 118);
padding: 13px;
font-size: 32px;
color: #ffffff;
}

section {
background: #deaded;
padding-bottom: 80px ;
padding-top: 80px;
display: flex ;
justify-content: center ;

}

chama-texto {
margin-right: 5%;

}